@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  overflow-x: hidden !important;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#bg {
  overflow-x: hidden;
}

header {
  background: rgba(40, 40, 40, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
    grid-column: 2 / span 5;
    font-size: 3.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
}

.light {
  padding: 10px;
}

.icons-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.icons-skills li {
  display: flex;
  align-items: center;
  background: rgba(116, 115, 115, 0.411);
  width: 200px;
  gap: 10px;
  border-radius: 15px;
  padding: 10px 15px;
  transition: 0.2s;
  cursor: pointer;
}
.icons-skills li:hover {
  background: gray;
  transform: scale(1.03);
}
.icons-skills li > img {
  width: 50px;
}
.icons-skills li > p {
  margin: 0;
}

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: rgba(40, 40, 40, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    font-size: 2.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

blockquote {
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    color: black;
    background: rgba(255, 255, 255, 0.59);
    background-color: rgba(255, 255, 255, 0.59);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    font-size: 4.4rem;
    display: inline;
    padding: 0 15px;

}

.left {
    grid-column: 6 / 12;
}

.work-section {
  grid-column: 3 / 11;
}


.work-section h6 {
  text-align: center;
  font-size: 3.1rem;
  margin: 20px 0;
}
.work-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 50px;
  padding: 20px 50px;
  
}
.work-group {
  width: 350px;
  max-width: 400px;
  background: rgba(116, 115, 115, 0.411);
  border-radius: 15px;
  transition: 0.2s;
}

.work-group:hover {
  background: gray;
}

.work-group p {
  padding: 0 10px;
}
.work-group a {
  max-width: -webkit-fill-available;
  
}
.work-group a > img {
  width: 100%;
  height: 250px;
  max-height: 270px;
  border-radius: 15px 15px 0 0;
}
.work-history {
  padding: 15px;
}

.item-swiper {
  grid-column: 5 / 12;
}

.item-swiper h3 {
  text-align: center;
  font-size: 3.2rem;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


@media screen and (max-width: 600px) {
  header {
    grid-column: 2/11;
    display: block;
    margin-bottom: 100px;
  }
  header h1 {
    font-size: 4.5rem;
  }
  header p {
    font-size: 3.1rem;
  }

  blockquote {
    grid-column: 2 /11;
  }

  .manifesto {
    grid-column: 1 / 12;
  }
  .light {
    grid-column: 2 / 12;
  }
  .icons-skills {
    padding: 10px;
    margin: auto;
  }
  .icons-skills li {
    justify-content: center;
    margin: auto;
  }
  .work-container {
    width: 100%;
  }
}